<a href="https://colab.research.google.com/github/iraidaantropova/ApacheSpark/blob/main/HW4_PySpark_SinitsaI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
    .master("local[2]")\
    .appName("Lesson_2")\
    .config("spark.executor.instances",2)\
    .config("spark.executor.memory",'2g')\
    .config("spark.executor.cores",1)\
    .getOrCreate()
sc = spark.sparkContext

Задание 1
Добавьте к таблице следующие поля:

Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode)
Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)
Стоимость последнего проданного дома до текущего

In [6]:
from pyspark.sql import Window
from pyspark.sql import functions as F
from pyspark.sql.pandas.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import IntegerType

import pandas as pd
import requests

In [7]:
df = spark.read.csv('raw_sales.csv', header=True, inferSchema=True)
df.printSchema()
df.show(truncate=False)

root
 |-- datesold: timestamp (nullable = true)
 |-- postcode: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- propertyType: string (nullable = true)
 |-- bedrooms: integer (nullable = true)

+-------------------+--------+-------+------------+--------+
|datesold           |postcode|price  |propertyType|bedrooms|
+-------------------+--------+-------+------------+--------+
|2007-02-07 00:00:00|2607    |525000 |house       |4       |
|2007-02-27 00:00:00|2906    |290000 |house       |3       |
|2007-03-07 00:00:00|2905    |328000 |house       |3       |
|2007-03-09 00:00:00|2905    |380000 |house       |4       |
|2007-03-21 00:00:00|2906    |310000 |house       |3       |
|2007-04-04 00:00:00|2905    |465000 |house       |4       |
|2007-04-24 00:00:00|2607    |399000 |house       |3       |
|2007-04-30 00:00:00|2606    |1530000|house       |4       |
|2007-05-24 00:00:00|2902    |359000 |house       |3       |
|2007-05-25 00:00:00|2906    |320000 |house       |3       |
|2007-06-26 00:00:00|2902    |385000 |house       |3       |
|2007-06-27 00:00:00|2906    |305000 |house       |3       |
|2007-06-27 00:00:00|2612    |850000 |house       |4       |
|2007-06-28 00:00:00|2904    |765000 |house       |4       |
|2007-06-30 00:00:00|2615    |517000 |house       |4       |
|2007-07-02 00:00:00|2914    |800000 |house       |5       |
|2007-07-03 00:00:00|2906    |336000 |house       |3       |
|2007-07-06 00:00:00|2615    |535000 |house       |5       |
|2007-07-07 00:00:00|2602    |900000 |house       |4       |
|2007-07-08 00:00:00|2600    |327000 |house       |1       |
+-------------------+--------+-------+------------+--------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import col, asc,desc

#провожу группировку данных по postcode, сортирую по дате продажи
windSpec_before = Window()\
    .partitionBy('postcode')\
    .orderBy('datesold')

#получаю среднюю стоимость домов до текущей продажи
# среднее найдено с помощью avg()
df = df.withColumn('average_price_before', F.avg('price').over(windSpec_before))

In [12]:
windSpec_after = Window()\
    .partitionBy('postcode')\
    .orderBy(col('datesold').desc())

df = df.withColumn('average_price_after', F.avg('price').over(windSpec_after))

In [13]:
df = df.withColumn('previous_sold_price', F.lag('price', 1).over(windSpec_before))

In [14]:
df.show(10)

+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+
|           datesold|postcode|  price|propertyType|bedrooms|last_price_before_sale|average_price_before|average_price_after|previous_sold_price|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|                  null|            327000.0| 1203842.0951327435|               null|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|                327000|            558500.0|  1205786.312638581|             327000|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|                790000|   647333.3333333334| 1206710.2822222223|             790000|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|                315000|            558625.0|  1207560.416481069|             825000|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|                329000|            599900.0| 1209602.9620535714|             292500|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|                765000|   654416.6666666666| 1210597.5995525727|             765000|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|                927000|   758071.4285714285| 1211233.4686098655|             927000|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|               1380000|            755812.5|  1210854.217977528|            1380000|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|                740000|   751833.3333333334| 1211914.7004504504|             740000|
|2008-09-22 00:00:00|    2600| 690000|       house|       4|                720000|            745650.0| 1213025.1173814898|             720000|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+
only showing top 10 rows

В итоге у вас таблица с колонками (или нечто похожее):

price
Среднегодовая цена
Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)
Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)
Стоимость последнего проданного дома до текущего ((1 балл)
и др.
Посчитайте кол-во уникальных значений в каждой строчке (unique(row)) (ипользуйте udf). Попробуйте сделать то же самое используя pandas udf.

In [20]:
@F.udf(returnType=IntegerType())
def count_unique_udf(row):
    return len(set(row))
(
    df.filter(F.col('average_price_before').isNotNull())
    .withColumn('unique_values', count_unique_udf(F.array(*df))).show(10)

)

+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
|           datesold|postcode|  price|propertyType|bedrooms|last_price_before_sale|average_price_before|average_price_after|previous_sold_price|unique_values|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|                  null|            327000.0| 1203842.0951327435|               null|            8|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|                327000|            558500.0|  1205786.312638581|             327000|            8|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|                790000|   647333.3333333334| 1206710.2822222223|             790000|            8|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|                315000|            558625.0|  1207560.416481069|             825000|            9|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|                329000|            599900.0| 1209602.9620535714|             292500|            9|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|                765000|   654416.6666666666| 1210597.5995525727|             765000|            8|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|                927000|   758071.4285714285| 1211233.4686098655|             927000|            8|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|               1380000|            755812.5|  1210854.217977528|            1380000|            8|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|                740000|   751833.3333333334| 1211914.7004504504|             740000|            8|
|2008-09-22 00:00:00|    2600| 690000|       house|       4|                720000|            745650.0| 1213025.1173814898|             720000|            8|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
only showing top 10 rows

In [21]:
@pandas_udf(IntegerType(), PandasUDFType.SCALAR)
def count_unique_pandas_udf(series) -> int:
    return series.apply(lambda row: len(set(row)))
(
    df.filter(F.col('average_price_before').isNotNull())
    .withColumn('unique_values', count_unique_pandas_udf(F.array(*df))).show(10)
)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/functions.py:399: UserWarning: In Python 3.6+ and Spark 3.0+, it is preferred to specify type hints for pandas UDF instead of specifying pandas UDF type which will be deprecated in the future releases. See SPARK-28264 for more details.
  warnings.warn(

+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
|           datesold|postcode|  price|propertyType|bedrooms|last_price_before_sale|average_price_before|average_price_after|previous_sold_price|unique_values|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|                  null|            327000.0| 1203842.0951327435|               null|            8|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|                327000|            558500.0|  1205786.312638581|             327000|            8|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|                790000|   647333.3333333334| 1206710.2822222223|             790000|            8|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|                315000|            558625.0|  1207560.416481069|             825000|            9|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|                329000|            599900.0| 1209602.9620535714|             292500|            9|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|                765000|   654416.6666666666| 1210597.5995525727|             765000|            8|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|                927000|   758071.4285714285| 1211233.4686098655|             927000|            8|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|               1380000|            755812.5|  1210854.217977528|            1380000|            8|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|                740000|   751833.3333333334| 1211914.7004504504|             740000|            8|
|2008-09-22 00:00:00|    2600| 690000|       house|       4|                720000|            745650.0| 1213025.1173814898|             720000|            8|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+-------------+
only showing top 10 rows

Задание 3
SQL like case when или if elif else

Создайте колонку, в которой в которой будет отображаться "+", "-" или "=", если "Средняя стомость 10 проданных домов до текущего в том же районе" больше, меньше или равно "Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode)", соотвественно.

Если одно из полей Null, запишите в эту колонку "Нет данных"

In [22]:
# использую функцию when(если TRUE, тогда)
df = df.withColumn(
    'sign',
    F.when(
        F.col('average_price_before').isNull() |
        F.col('average_price_after').isNull(),
        'Нет данных'
    ).when(
        F.col('average_price_before') > F.col('average_price_after'),
        '-'
    ).when(
        F.col('average_price_before') < F.col('average_price_after'),
        '+'
    ).otherwise(
        '='
    )
)

df.show()

+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+----+
|           datesold|postcode|  price|propertyType|bedrooms|last_price_before_sale|average_price_before|average_price_after|previous_sold_price|sign|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+----+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|                  null|            327000.0| 1203842.0951327435|               null|   +|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|                327000|            558500.0|  1205786.312638581|             327000|   +|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|                790000|   647333.3333333334| 1206710.2822222223|             790000|   +|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|                315000|            558625.0|  1207560.416481069|             825000|   +|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|                329000|            599900.0| 1209602.9620535714|             292500|   +|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|                765000|   654416.6666666666| 1210597.5995525727|             765000|   +|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|                927000|   758071.4285714285| 1211233.4686098655|             927000|   +|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|               1380000|            755812.5|  1210854.217977528|            1380000|   +|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|                740000|   751833.3333333334| 1211914.7004504504|             740000|   +|
|2008-09-22 00:00:00|    2600| 690000|       house|       4|                720000|            745650.0| 1213025.1173814898|             720000|   +|
|2008-11-18 00:00:00|    2600| 635000|       house|       3|                690000|   753458.3333333334|  1214208.432126697|             690000|   +|
|2008-11-18 00:00:00|    2600| 950000|       house|       3|                635000|   753458.3333333334|  1214208.432126697|             635000|   +|
|2008-11-21 00:00:00|    2600| 730000|       house|       3|                950000|   751653.8461538461| 1216125.2886363636|             950000|   +|
|2008-12-22 00:00:00|    2600| 855000|       house|       3|                730000|   759035.7142857143| 1217232.6355353075|             730000|   +|
|2008-12-24 00:00:00|    2600|1057500|       house|       4|                855000|   778933.3333333334| 1218059.6506849315|             855000|   +|
|2009-01-20 00:00:00|    2600|1150000|       house|       4|                475000|            802125.0| 1218427.0640732266|            1057500|   +|
|2009-01-22 00:00:00|    2600| 575000|       house|       3|               1150000|   788764.7058823529| 1218584.0068807339|            1150000|   +|
|2009-02-13 00:00:00|    2600| 880000|       house|       4|                578000|   793833.3333333334| 1220063.5103448275|             575000|   +|
|2009-03-17 00:00:00|    2600|1015000|       house|       4|                410000|   805473.6842105263| 1220847.0668202764|             880000|   +|
|2009-03-28 00:00:00|    2600| 722000|       house|       4|               1015000|            801300.0| 1221322.4642032334|            1015000|   +|
+-------------------+--------+-------+------------+--------+----------------------+--------------------+-------------------+-------------------+----+
only showing top 20 rows